:root {
  --main-bg-color: rgba(225, 190, 106, 1);
  --main-text-color: rgba(62, 59, 53, 1);
  --max-width: 1200px;
}

.c-employees-cards {
  max-width: var(--max-width);
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
}

.c-employee-card {
  background-color: var(--main-bg-color);
}
