.l-container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 1rem;
}

.l-input {
  max-width: 18rem;
}

.o-input {
  font-size: larger;
}

.l-name-filer-input {
  height: 2.2rem;
  border-radius: 4px;
}

.c-sort,
.c-filter {
  padding: 1rem;
  background-color: var(--secondary-bg-color);
}

.c-sort__title,
.c-filter__title {
  display: inline-block;
  font-size: larger;
  font-weight: 700;
}

.c-sort__order {
  font-weight: 500;
}

.c-sort-button,
.c-filter-button {
  margin: 0.3rem;
  padding: 0.2rem;
  font-size: inherit;
  font-weight: 600;
  line-height: 1.15;
}

.c-sort-button--selected,
.c-filter-button--selected {
  background-color: var(--main-bg-color);
  border-color: var(--main-bg-color-darker);
}

.c-employees-cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
}

.c-employee-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
}

.c-employee-card__link {
  color: var(--secondary-bg-color);
}

.c-employee-card--img {
  max-width: 300px;
  max-height: 400px;
}

.c-employee-card--social-icon {
  max-height: 30px;
}

.o-employee__header {
  color: var(--secondary-bg-color);
}

.l-employee__main-text {
  padding: 1rem;
}
