:root {
  --main-bg-color: rgba(225, 190, 106, 1);
  --main-text-color: rgba(62, 59, 53, 1);
  --max-width: 1200px;
}

.c-employees-cards {
  max-width: var(--max-width);
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  padding: 1rem;
}

.c-employee-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
}

.c-employee-card--img {
  max-width: 300px;
  max-height: 400px;
}

.c-employee-card--social-icon {
  max-height: 30px;
}
