:root {
  --main-bg-color: rgba(225, 190, 106, 1);
  --main-bg-color-darker: rgba(203, 148, 19, 1);
  --secondary-bg-color: rgba(64, 176, 166, 1);
  --main-text-color: rgba(62, 59, 53, 1);
  --max-width: 1200px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
